---
import { Image } from "astro:assets";
import Icon from "../../public/logotipo.webp";

import Works from "./icons/works.svg";

import Twitter from "./icons/x.svg";

import Github from "./icons/github.svg";

import Mail from "./icons/mail.svg";
---

<section
  class="mt-[180px] p-[10px] bg-gradient-to-r from-[#191724] text-[#faf4ed] rounded-xl"
>
  <div class="m-0.5 p-0.5 flex flex-row justify-start items-start">
    <Image
      src={Icon}
      alt="Logo"
      width={75}
      class="m-0.5 p-0.5 border-[1px] border-[#5c5763] flex flex-col justify-center items-center rounded-lg"
    />
  </div>
  <p class="m-2"></p>
  <div class="flex flex-row justify-between items-center">
    <h1 class="m-0.5 p-0.5 text-[#faf4ed] text-5xl font-bold">
      H⟳la Mundo <span class="text-[#ea9d34]">Soy @jeanctech</span>
    </h1>
  </div>
  <p class="m-2"></p>
  <div class="m-[1.5px] p-[1.5px] text-2xl font-500 text-[#faf4ed]">
    <p>
      <span class="text-[#dd7878fb] font-medium">
        +3 años de Experiencia de Desarrollo.
      </span>
      <span class="text-[#bb98e2ef] font-semibold">
        Desarrollador Web y Frontend Junior.
      </span>
      <br />
      <span class="text-[#2eacc2fa] font-semibold">
        De Valle del Cauca, Colombia.
      </span>
      <span class="text-[#83d870ef] font-medium">
        Especializado en Crear Aplicaciones Web Unicas.
      </span>
      <br />
      <span class="text-[#f370ccf5] font-medium">
        Desarrollador Apasionado en la Web.
      </span>
      <span class="text-[#91c0c7f3] font-semibold">
        En un Constante Proceso de Aprendizaje.
      </span>
    </p>
  </div>

  <br />

  <div
    class="m-[1.5px] p-[1.5px] gap-0 flex flex-row justify-baseline items-center"
  >
    <button
      class="m-3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="https://www.linkedin.com/in/jeanctech/"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Works />
        <span class="pl-1 mt-0.5">Disponible Para Trabajar</span></a
      >
    </button>
    <p class="m-[2px] p-[0px]"></p>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="https://github.com/jeanctech"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Image src={Github} alt="Github-Logo" width={24} />
        <span class="pl-1 mt-0.5">Github</span></a
      >
    </button>
        <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="https://x.com/jeanctech"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Image src={Twitter} alt="Twitter-Logo" width={20} />
        <span class="pl-1 mt-0.5">Twitter</span></a
      >
    </button>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="mailto:jeancarlosjimenezc25@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Mail />
        <span class="pl-1 mt-0.5">Contacto</span></a
      >
    </button>
  </div>
</section>

<style></style>
