---
import { Image } from "astro:assets";
import Logotipo from "../../public/logotipo.webp";
---

<section
  class="m-1 p-1 bg-gradient-to-r from-[#191724] text-[#faf4ed] rounded-lg flex flex-col justify-start items-start"
>
  <div class="m-1 p-1 flex flex-row justify-start items-center">
    <h3 id="section_about" class="m-1 p-1 text-2xl font-semibold text-[#9ccfd8]">🙋‍♂️ Sobre Mi</h3>
  </div>
  <div
    class="m-2 p-1 border-[1px] border-[#56526e] rounded-lg flex flex-row justify-start items-start"
  >
    <article class="m-1 p-1 flex flex-row justify-between items-center">
      <p class="m-1 p-1 flex flex-col justify-start items-start text-justify">
        Soy JeanCarlos Jiménez (@jeanctech), desarrollador web con 3 años de
        experiencia. Me especializo en la creación de páginas web, sitios
        corporativos y aplicaciones web. Mi pasión por la programación me motiva
        a innovar constantemente y contribuir al crecimiento de la comunidad de
        desarrollo a través de proyectos colaborativos y participación en
        eventos del sector.
      </p>
      <Image
        class="ml-4 p-1 border-[1px] border-[#286983] rounded-lg flex flex-row justify-start items-start"
        src={Logotipo}
        alt="Logotipo-@jeanctech"
        width={156}
      />
    </article>
  </div>
</section>

<style></style>
