---
import { Image } from "astro:assets";
import Icon from "../../public/logotipo.webp";

import { BriefcaseBusiness } from 'lucide-astro'
import {Github} from 'lucide-astro'
import {Twitter} from 'lucide-astro';
import {Mail} from 'lucide-astro'

---

<section
  class="mt-[180px] p-[10px] bg-gradient-to-r from-[#191724] text-[#faf4ed] rounded-xl"
>
  <div class="m-0.5 p-0.5 flex flex-row justify-start items-start">
    <Image
      src={Icon}
      alt="Logo"
      width={75}
      class="m-0.5 p-0.5 bg-slate-900 shadow-lg shadow-teal-300/50 flex flex-col justify-center items-center rounded-lg"
    />
  </div>
  <p class="m-2"></p>
  <div class="flex flex-row justify-between items-center">
    <h1 class="m-0.5 p-0.5 text-[#faf4ed] text-5xl font-bold">
      <span id='neon-text-one'>H๑la Mund»</span> <span class="text-[#ea9d34] w-1/12px]" id='neon-text-two'>Soy @jeanctech</span>
    </h1>
  </div>
  <p class="m-2"></p>
  <div class="m-[1.5px] p-[1.5px] text-2xl font-500 text-[#faf4ed]">
    <p>
      <span class="text-[#dd7878e7] font-medium">
        Desarrollador Frontend & Aprendiz Curioso <span id="neon-text-tres">🐧</span>
      </span>
      <span class="text-[#bb98e2e7] font-semibold">
        +3 años creando repos
      </span>
      <br />
      <span class="text-[#2eacc2e7] font-semibold">
        Con código • Fan de Rose Pine y Linux
      </span>
      <span class="text-[#83d870e7] font-medium">
       <span id="neon-text-tres">📍</span> Del Valle del Cauca, Colombia
      </span>
      <br />
      <span class="text-[#f370cce7] font-medium">
          Amante del terminal, y proyectos creativos
      </span>
      <span class="text-[#91c0c7e7] font-semibold">
          <span id="neon-text-tres">👉</span> Explorando tecnologías <span class="text-transparent">˵˃ ᗜ ˂˵</span>
      </span>
    </p>
  </div>

  <br />

  <div
    class="m-[1.5px] p-[1.5px] gap-0 flex flex-row justify-baseline items-center"
  >
    <button
      class="m-3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
    <p class="m-[2px] p-[0px]"></p>
    <BriefcaseBusiness />
      <a
        href="https://www.linkedin.com/in/jeanctech/"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        >
        <span class="pl-1 mt-0.5" id='neon-text-cuatro'>Disponible Para Trabajar</span></a
      >
    </button>
    <p class="m-[2px] p-[0px]"></p>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="https://github.com/jeanctech"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Github />
        <span class="pl-1 mt-0.5" id='neon-text-cuatro'>Github</span></a
      >
    </button>
        <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="https://x.com/jeanctech"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Twitter />
        <span class="pl-1 mt-0.5" id='neon-text-cuatro'>Twitter</span></a
      >
    </button>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#56526e] flex flex-row justify-center
      items-center hover:text-[#d1adfd]"
    >
      <a
        href="mailto:jeancarlosjimenezc25@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="m-0.5 p-0.5 flex flex-row"
        ><Mail />
        <span class="pl-1 mt-0.5" id='neon-text-cuatro'>Contacto</span></a
      >
    </button>
  </div>
</section>

<style>
    #neon-text-two {
    color: #ebc792;
    text-shadow: 0 0 5px #d4b87a, /* ... más sombras */ 0 0 40px #cc801d;
  }
    #neon-text-one {
    color: #fff;
    text-shadow: 0 0 5px #fff, /* ... más sombras */ 0 0 40px #ff00ff;
  }
   #neon-text-tres {
    color: #718adb;
    text-shadow: 0 0 5px #7c85b8, /* ... más sombras */ 0 0 40px #5875f5;
  }
     #neon-text-cuatro {
    color: #f6f0f7;
    text-shadow: 0 0 5px #a17291, /* ... más sombras */ 0 0 40px #a57ea5;
  }
</style>
